<div class="container col-xs-6 col-lg-4 mt-5">
    <div class="form-group">
        <h1 class="text-center">Enter Registered Email</h1>
        <!-- <label for="username" class="p-3">UserName</label> -->
        <input type="text" class="form-control" id="username"  name="username" [(ngModel)]="inputText" 
            [placeholder]="placeHolder">
            <small id="emailHelp" class="form-text text-muted" [hidden]="invalidEmail">Check your Email </small>
            <small id="emailHelp" class="form-text text-muted"  [hidden]="otpFlag" >OTP sent Sucessfully to your Email</small>


        <div class="center pt-2">
            <mat-spinner  mode="indeterminate" *ngIf="spinner" [diameter]="20"></mat-spinner>
            <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            <button type="button" class="btn btn-primary" (click)="checkUserName()" [disabled]="!buttionDisable">Submit</button>
            <!-- <button  class="text-center" color="primary" (click)="checkUserName()" [disabled]="!disableButton">Submit</button> -->
            <button type="button" class="btn btn-primary" (click)="verifyEmail()" [disabled]="buttionDisable">Verify</button>

        </div>

    </div>
</div>