.flex-container {
    display: flex;
    flex-wrap: wrap; /* Ensures wrapping if items overflow */
   // justify-content: space-between; /* Adjust spacing between columns */
    gap: 16px; /* Optional: Add spacing between columns */
  }
  
  .flex-item {
    flex: 1 1 calc(25% - 16px); /* Each column takes 25% minus gap space */
    max-width: calc(25% - 16px); /* Optional: Limit column width */
    background-color: #f0f0f0;
    padding: 6px;
    text-align: center;
    box-sizing: border-box; /* Include padding in width/height calculations */
  }
  img.card-img-top {
    object-fit: cover;
    height: 300px;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.prev {
 left: 10px;
}
.next {
 right: 10px;
}

  