<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">OLX</a>
  </div>

  <!-- Search Bar -->
  <div class="search-container w-50">

    <input type="text" [(ngModel)]="searchText"  #serachdata (keyup)="keywordSearch(serachdata.value)" placeholder="Search..." class="search-box"
      autocomplete="off" />
  
    <ul *ngIf="filteredResults.length>0" class="dropdown">
      <li *ngFor="let result of filteredResults" (click)="KeywordSearchselecteItem(result)">{{result.title}}</li>
    </ul>
  
  </div>
  <!-- Authentication Links -->
  <div class="navbar-actions">
    <!-- <div *ngIf="isLoggedIn" class="user-menu">
      <button (click)="toggleUserMenu()">
        <i class="material-icons">person</i>
      </button>
      <div class="dropdown-menu" *ngIf="showUserMenu">
        <a routerLink="/profile">Profile</a>
        <a routerLink="/my-ads">My Ads</a>
        <a routerLink="/saved-items">Saved Items</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div> -->

    <!-- Post Ad Button -->
    <button mat-icon-button [matBadge]="cartCount.length" matBadgeColor="accent">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    
    
    <button class="post-ad-btn" (click)="postAd()">Post Ad</button>
    <button class="post-ad-btn" (click)="logout()">Logout</button>

  </div>
</nav>




