
mat-card{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    background-color: white;
}
button{
    margin: 5px;
}
.padding-10px{
padding: 10px;
}

/* styles.scss or your component's SCSS file */

/* Outline appearance */
.mat-form-field-appearance-outline .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-color: red; /* Change this to your desired color */
    }
  
    .mat-form-field-outline-gap {
      border-color: red; /* Change this to your desired color */
    }
  }
  
  /* Legacy and standard appearance */
  .mat-form-field-appearance-legacy .mat-form-field-underline,
  .mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: red; /* Change this to your desired color */
  }
  

// .gradient-custom {
//     /* fallback for old browsers */
//     background: #6a11cb;
    
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
//     }